<div class="card shadow border-0">
  <div class="card-header bg-secondary bg-gradient ml-0 py-2">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="py-2 text-white">Forgot your password?</h2>
      </div>
    </div>
  </div>
  <div class="card-body p-4">
    <h2>Enter your email.</h2>
    <hr />
    <div class="row">
      <div class="col-md-12">
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
          <div *ngIf="successMessage" class="alert alert-success" role="alert">
            {{ successMessage }}
          </div>
          <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
            {{ errorMessage }}
          </div>
          <div class="form-floating mb-3">
            <input
              formControlName="email"
              class="form-control"
              autocomplete="username"
              placeholder="name@example.com"
            />
            <label class="form-label">Email</label>
            <span
              *ngIf="
                forgotPasswordForm.get('email')?.invalid && forgotPasswordForm.get('email')?.touched
              "
              class="text-danger"
              >Email is required</span
            >
          </div>
          <button type="submit" class="w-100 btn btn-lg btn-primary">Reset Password</button>
        </form>
      </div>
    </div>
  </div>
</div>
