@if (book(); as b) {
<div class="details-container">
  <mat-card>
    <img mat-card-image [src]="b.bookImages" alt="Book cover" />
    <mat-card-header>
      <mat-card-title>{{ b.title }}</mat-card-title>
      <mat-card-subtitle>{{ b.author }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{ b.description }}</p>
      <h3>{{ b.price | currency }}</h3>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary">Add to Cart</button>
    </mat-card-actions>
  </mat-card>
</div>
}
