<div class="container">
  <div class="book-grid">
    @for (book of books; track book.id) {
    <div class="book-card">
      <img [src]="getMainImageUrl(book)" [alt]="book.title" />
      <div class="book-card-body">
        <p class="book-title">{{ book.title }}</p>
        <p class="book-author">
          by <b>{{ book.author }}</b>
        </p>
        <p class="book-price">
          List Price: <span class="price-strike">{{ book.listPrice | currency }}</span>
        </p>
        <p class="book-price">
          As low as: <span>{{ book.price100 | currency }}</span>
        </p>
        <div class="button-group">
          <a [routerLink]="['details', book.id]" class="btn btn-outline-primary">Details</a>
          <button (click)="quickAddToCart(book)" class="btn btn-primary">
            <i class="bi bi-cart-plus"></i> Add to Cart
          </button>
        </div>
      </div>
    </div>
    }
  </div>
</div>
