@if (orderVM) {
<div class="container">
  <form [formGroup]="orderForm">
    <div class="card shadow border-0">
      <div class="card-header bg-secondary bg-gradient ml-0 py-2">
        <div class="row">
          <div class="col-12 d-none d-md-block col-md-6 pb-1 text-white">
            <i class="fas fa-shopping-cart"></i> &nbsp; Order Summary
          </div>
          <div class="col-12 col-md-4 offset-md-2 text-right">
            <a routerLink="/admin/orders" class="btn btn-outline-info form-control btn-sm"
              >Back to Orders</a
            >
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="container rounded p-2">
          <div class="row">
            <div class="col-12 col-lg-6 pb-4">
              <div class="row">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                  <span class="text-primary">PickUp Details:</span>
                </h4>
              </div>

              <div class="row my-1">
                <div class="col-3">Name</div>
                <div class="col-9">
                  <input
                    formControlName="name"
                    type="text"
                    class="form-control"
                    [readonly]="!isAdminOrEmployee"
                  />
                </div>
              </div>
              <div class="row my-1">
                <div class="col-3">Phone</div>
                <div class="col-9">
                  <input
                    formControlName="phoneNumber"
                    type="text"
                    class="form-control"
                    [readonly]="!isAdminOrEmployee"
                  />
                </div>
              </div>
              <div class="row my-1">
                <div class="col-3">Address</div>
                <div class="col-9">
                  <input
                    formControlName="streetAddress"
                    type="text"
                    class="form-control"
                    [readonly]="!isAdminOrEmployee"
                  />
                </div>
              </div>
              <div class="row my-1">
                <div class="col-3">City</div>
                <div class="col-9">
                  <input
                    formControlName="city"
                    type="text"
                    class="form-control"
                    [readonly]="!isAdminOrEmployee"
                  />
                </div>
              </div>
              <div class="row my-1">
                <div class="col-3">State</div>
                <div class="col-9">
                  <input
                    formControlName="state"
                    type="text"
                    class="form-control"
                    [readonly]="!isAdminOrEmployee"
                  />
                </div>
              </div>
              <div class="row my-1">
                <div class="col-3">Zip Code</div>
                <div class="col-9">
                  <input
                    formControlName="postalCode"
                    type="text"
                    class="form-control"
                    [readonly]="!isAdminOrEmployee"
                  />
                </div>
              </div>
              <div class="row my-1">
                <div class="col-3">Email</div>
                <div class="col-9">
                  <input
                    [value]="orderVM.orderHeader.user?.email"
                    readonly
                    type="text"
                    class="form-control"
                  />
                </div>
              </div>
              <div class="row my-1">
                <div class="col-3">Order Date</div>
                <div class="col-9">
                  <input
                    [value]="orderVM.orderHeader.orderDate | date"
                    readonly
                    type="text"
                    class="form-control"
                  />
                </div>
              </div>
              <div class="row my-1">
                <div class="col-3">Carrier</div>
                <div class="col-9">
                  <input
                    formControlName="carrier"
                    type="text"
                    class="form-control"
                    [readonly]="!isAdminOrEmployee"
                  />
                </div>
              </div>
              <div class="row my-1">
                <div class="col-3">Tracking</div>
                <div class="col-9">
                  <input
                    formControlName="trackingNumber"
                    type="text"
                    class="form-control"
                    [readonly]="!isAdminOrEmployee"
                  />
                </div>
              </div>
              <div class="row my-1">
                <div class="col-3">Shipping Date</div>
                <div class="col-9">
                  <input
                    [value]="orderVM.orderHeader.shippingDate | date"
                    readonly
                    type="text"
                    class="form-control"
                  />
                </div>
              </div>

              <div class="row my-1">
                <div class="col-3">Payment Status</div>
                <div class="col-9">
                  <input
                    [value]="orderVM.orderHeader.paymentStatus"
                    readonly
                    type="text"
                    class="form-control"
                  />
                </div>
              </div>

              @if (isAdminOrEmployee) {
              <button
                (click)="updateOrderDetails()"
                type="button"
                class="btn btn-warning form-control my-1"
              >
                Update Order Details
              </button>
              }
            </div>

            <div class="col-12 col-lg-5 offset-lg-1">
              <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-primary">Order Summary</span>
              </h4>
              <label class="btn btn-outline-primary form-control my-2"
                >Order Status - {{ orderVM.orderHeader.orderStatus }}</label
              >

              <ul class="list-group mb-3">
                @for (detail of orderVM.orderDetails; track detail.id) {
                <li class="list-group-item d-flex justify-content-between p-2">
                  <div class="row container">
                    <div class="col-8">
                      <h6 class="my-0 text-primary">{{ detail.book?.title }}</h6>
                      <small class="text-muted">Price : {{ detail.price | currency }}</small
                      ><br />
                      <small class="text-muted">Quantity : {{ detail.count }}</small>
                    </div>
                    <div class="col-4 text-end">
                      <p class="text-success">{{ detail.count * detail.price | currency }}</p>
                    </div>
                  </div>
                </li>
                }

                <li class="list-group-item bg-primary">
                  <div class="row container">
                    <div class="col-6">
                      <h5 class="text-white">TOTAL</h5>
                    </div>
                    <div class="col-6 text-end">
                      <h5 class="text-white">{{ orderVM.orderHeader.orderTotal | currency }}</h5>
                    </div>
                  </div>
                </li>
              </ul>

              @if (isAdminOrEmployee) {
              <div>
                @if (orderVM.orderHeader.orderStatus === 'Approved') {
                <button (click)="startProcessing()" class="btn btn-primary form-control my-1">
                  Start Processing
                </button>
                } @if (orderVM.orderHeader.orderStatus === 'Processing') {
                <button (click)="shipOrder()" class="btn btn-primary form-control my-1">
                  Ship Order
                </button>
                } @if ( orderVM.orderHeader.orderStatus !== 'Refunded' &&
                orderVM.orderHeader.orderStatus !== 'Cancelled' && orderVM.orderHeader.orderStatus
                !== 'Shipped' ) {
                <button (click)="cancelOrder()" class="btn btn-danger form-control my-1">
                  Cancel Order
                </button>
                }
              </div>
              }
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
}
