@if(user){
<div class="card shadow border-0">
  <div class="card-header bg-secondary bg-gradient ml-0 py-2">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="text-white py-2">Change User Permission</h2>
      </div>
    </div>
  </div>
  <div class="card-body p-4">
    <form [formGroup]="roleForm" (ngSubmit)="onSubmit()" class="row">
      <div class="row mt-4">
        <div class="border p-3">
          <div class="form-floating py-2 col-12">
            <input [value]="user.name" class="form-control border-0 shadow" readonly />
            <label class="ms-2">Name</label>
          </div>

          <div class="form-floating py-2 col-12">
            <select formControlName="role" class="form-select border-0 shadow">
              @for (role of roles; track role) {
              <option [value]="role">{{ role }}</option>
              }
            </select>
            <label class="ms-2">Role</label>
          </div>

          @if (showCompany) {
          <div class="form-floating py-2 col-12">
            <select formControlName="companyId" class="form-select border-0 shadow">
              <option selected disabled value="">Select Company</option>
              @for (company of companies; track company.id) {
              <option [value]="company.id">
                {{ company.name }}
              </option>
              }
            </select>
            <label class="ms-2">Company</label>
            @if (roleForm.get('companyId')?.invalid && roleForm.get('companyId')?.touched) {
            <span class="text-danger">Company is required</span>
            }
          </div>
          }

          <hr />
          <div class="row mt-3">
            <div class="col-6 col-md-3">
              <button type="submit" class="btn btn-primary form-control">Update</button>
            </div>
            <div class="col-6 col-md-3">
              <a routerLink="/admin/users" class="btn btn-outline-primary border form-control">
                Back to List
              </a>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
}
