<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/customer/home"> <i class="bi bi-book"></i> BookStore </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/customer/home">Home</a>
        </li>
        @if (isAdmin()) {
        <button mat-button [matMenuTriggerFor]="adminMenu">Admin</button>
        <mat-menu #adminMenu="matMenu">
          <button mat-menu-item routerLink="/admin/books">Books</button>
          <button mat-menu-item routerLink="/admin/categories">Categories</button>
          <button mat-menu-item routerLink="/admin/companies">Companies</button>
          <button mat-menu-item routerLink="/admin/orders">Orders</button>
          <button mat-menu-item routerLink="/admin/users">Users</button>
        </mat-menu>
        } @if (authService.getCurrentUser()) {
        <li class="nav-item">
          <a class="nav-link" routerLink="/privacy">Privacy</a>
        </li>
        }
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link position-relative" routerLink="/customer/cart">
            <i class="bi bi-cart"></i>
            @if (cartItemCount > 0) {
            <span class="cart-badge">{{ cartItemCount }}</span>
            }
          </a>
        </li>
        @if (authService.getCurrentUser()) {
        <li class="nav-item">
          <span class="nav-link">Hello {{ authService.getCurrentUser()?.email }}!</span>
        </li>
        <li class="nav-item">
          <button class="btn btn-link nav-link" (click)="authService.logout()">Logout</button>
        </li>
        } @else {
        <li class="nav-item">
          <a class="nav-link" routerLink="/identity/register">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/identity/login">Login</a>
        </li>
        }
      </ul>
    </div>
  </div>
</nav>
