<div class="card shadow border-0">
  <div class="card-header bg-secondary bg-gradient ml-0 py-2">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="text-white py-2">{{ isEditMode ? 'Edit' : 'Create' }} Category</h2>
      </div>
    </div>
  </div>
  <div class="card-body p-4">
    <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()" class="row">
      <input type="hidden" formControlName="id" />

      <div class="border p-3 mt-4">
        <div class="form-floating py-2 col-12">
          <input
            formControlName="name"
            class="form-control border-0 shadow"
            id="name"
            placeholder="Name"
          />
          <label for="name" class="ms-2">Name</label>
          <span
            *ngIf="categoryForm.get('name')?.invalid && categoryForm.get('name')?.touched"
            class="text-danger"
            >Name is required</span
          >
        </div>

        <div class="form-floating py-2 col-12">
          <input
            type="number"
            formControlName="displayOrder"
            class="form-control border-0 shadow"
            id="displayOrder"
            placeholder="Display Order"
          />
          <label for="displayOrder" class="ms-2">Display Order</label>
          <span
            *ngIf="
              categoryForm.get('displayOrder')?.invalid && categoryForm.get('displayOrder')?.touched
            "
            class="text-danger"
            >Display Order is required</span
          >
        </div>

        <hr />
        <div class="row mt-3">
          <div class="col-6 col-md-3">
            <button type="submit" class="btn btn-primary form-control">
              {{ isEditMode ? 'Update' : 'Create' }}
            </button>
          </div>
          <div class="col-6 col-md-3">
            <a routerLink="/admin/categories" class="btn btn-outline-primary border form-control">
              Back to List
            </a>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
